/*
 css-definitions used only by inc.page.tpl
*/

body {
	margin: 0px;
}

td.menuitem {
 	font-size: 11px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right;
}

td.menu, a.menulink, tr.menu, a.menulinksel {
	font-size : 11px;
}

.footer {
	color:#444444;
	font-size : 11px;
}

table.menu{
	background-color: #f0f0f0;
}

a.menulink:link    { color: #444444; text-decoration: none; }
a.menulink:visited { color: #444444; text-decoration: none; }
a.menulink:hover   { color: #ee4444; text-decoration: none; }
a.menulink:active  { color: #ee4444; text-decoration: underline; }

a.menulinksel:link    { color: #ee4444; text-decoration: none; }
a.menulinksel:visited { color: #ee4444; text-decoration: none; }
a.menulinksel:hover   { color: #ee4444; text-decoration: none; }
a.menulinksel:active  { color: #ee4444; text-decoration: underline; }

input.logined {
	background-color : #F0F0F0;
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 1px;
	width : 64px;
	border-color : gray;
}

input.loginbtn {
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 0px;
	background-color : silver;
}

.contentcell, .errorcell, .noticecell {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	width: 90%;
}


.contentcell {
	background-color: #f8f8f8;
	border: 1px solid #d8d8d8;
}

.errorcell {
	background-color: #FFF5F5;
	border: 1px solid #E8d0d0;
	color : #990000;
}

.noticecell {
	background-color: #FFFFF5;
	border: 1px solid #E8E8d0;
	color : #BBBB00;
}

.hiddencell {
	  width: 100%;
}
