/*
 css-definitions used only by inc.form.tpl
*/

textarea {
	scrollbar-3dlight-color :  white;
	scrollbar-arrow-color : gray;
	scrollbar-base-color :  silver; 
	scrollbar-darkshadow-color : white;
	scrollbar-face-color : #DDDDDD;
	scrollbar-highlight-color :  white;
	scrollbar-shadow-color : white;
	scrollbar-track-color : white;
}

.edit {
	border-style : solid;
	border-width : 1px;
	border-color : gray;
	padding-left : 3px;
	padding-right : 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: White;
	color: black;	
}

.button {
	border-style : solid;
	border-width : 1px;
	border-color : gray;
	background-color : silver;
}
