/*
 css-definitions used only by inc.page.tpl
*/

body {
	margin: 0px;
	text-align:center;
	font-family: sans-serif;
	font-size: 10px;
}

input.logined {
	background-color : #F0F0F0;
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 1px;
	width : 64px;
	border-color : gray;
}

input.loginbtn {
	font-family : arial;
	font-size : 10px;
	border-width : 0px;
	background-color : silver;
}

.contentcell, .errorcell, .noticecell {
	border-top: 2px solid #C9CACA;
	border-bottom: 0px;
	border-right: 2px solid #C9CACA;
	border-left: 2px solid #C9CACA;
}

.contentcell {
	background-color: #f8f8f8;
	padding:8px;
	height:450px;
}

.hiddencell {
	padding:0px;
	background-color: #f8f8f8;
}

.errorcell {
	background-color: #FFF5F5;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	color : #990000;
}

.noticecell {
	background-color: #FFFFF5;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	color: #BBBB00;
}

.menulink, .menulinksel {
	padding: 0px; 
	font-size: 10px;
}

a.menulink:link    { color: #334433; text-decoration: none; }
a.menulink:visited { color: #334433; text-decoration: none; }
a.menulink:hover   { color: #188918; text-decoration: none; }
a.menulink:active  { color: #188918; text-decoration: underline; }

a.menulinksel:link    { color: #188918; text-decoration: none; }
a.menulinksel:visited { color: #188918; text-decoration: none; }
a.menulinksel:hover   { color: #188918; text-decoration: none; }
a.menulinksel:active  { color: #188918; text-decoration: underline; }

.cellcaptionr, .cellcaptionl{
	color: #188918;
	font-weight: bold;
	font-size: 15px;
}

.cellcaptionl{
	padding-left:8px;
}

.hiddencaption, .contentcaption, .errorcaption, .noticecaption {
	font-weight: bold;
	font-size: 16px;
	padding-left:8px;
}

.hiddencaption, .contentcaption {
	color: #188918;
}

.errorcaption {
	color: #990000;
}

.noticecaption {
	color: #BBBB00;
}
