.textfooter {
	/*text-align : right;*/
	font-style : italic;
	font-size : 8pt;
}

.row1 {
	background-color: #DDDDDD;
}

.row2 {
	background-color: #D8D8D8;
}

.hdr {
	background-color: #b8b8b8;
	font-weight: bold;
}

.table, .wide_table {
}

.wide_table, .wide_topdiv, .wide_div {
	width:90%;
}

.tdedit, .tdcont, .tddark {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 2px;
}

.tdedit {
	background: #d0d0d0 url(images/corner.gif) top right no-repeat;
	text-align: center;
}

.tddark {
	background-color: #d0d0d0;
}

.tdcont {
	background-color: #e0e0e0;
}

.tdframe {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #e0e0e0;
}

.tdaction {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #e0e0e0;
}

.important, a.important:link, a.important:visited, a.important:hover, a.important:active  {
	color: #E60000;
	font-weight: bold;
}

.headline {
	font-weight: bold;
	border-bottom: solid 1px #000000;
}

.normal {
	font-weight: normal;
}

ul { 
 	list-style-position: outside;
	list-style-type: square;
}
 
li {
	margin-top: 10px;
	text-align: justify;
}

.stat_gray
	{ color: #888888; }
.stat_red, .registered
	{ color: #bb0000; }
.stat_blue, .checked_out
	{ color: #0000bb; }
.stat_yellow, .checked_in
	{ color: #bb880b; }
.stat_green, .paid
	{ color: #007700; }

.quote {
   border-style: solid;
   border-width: 1px;
   border-color: black;
   margin-left: 15px;
   padding-left: 5px;
   background-color:#d0d0d0;
} 


