{#SUB default}
{#TABLE $items maxrows=100 width="90%"}
  {#COL Rev $revision}<b><span{#WHEN "$revision == $dbversion" " class=\"important\""}>{$revision}</span></b>
  {#COL Autor $author}
  {#COL Datum $date style=white-space:nowrap;}{#DATE $date}
  {#COL Nachricht}{$msg}
{#END}
{#END}