{#SUB default}
{#END}

{#SUB barcodes}
	<a href="importstuff.php?frame=barcodes&nomenu=1">Men&uuml; weg</a>
	<a href="importstuff.php?frame=barcodes">Men&uuml; wieder an</a>
	<br />
	<table>
		<tr>
	{#FOREACH $uids index=$idx}
		{#IF ($idx % 3) == 0}
			</tr><tr>
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>{$name}</td>
			<td><img src="barcode.php?code={$id}&width=150&height=75" /></td>
		{#ELSE}
			<td>&nbsp;&nbsp;&nbsp;</td>
			<td>{$name}</td>
			<td><img src="barcode.php?code={$id}&width=150&height=75" /></td>
		{#END}		
	{#END}
		</tr>
	</table>
{#END}