/*
 css-definitions used only by inc.page.tpl
*/

body {
	margin-top:0px;
	margin-bottom:4px;
	margin-left:4px;
	margin-right:4px;
	text-align:center;
	font-family: sans-serif;
	font-size: 10px;
	background-color : #FFFFFF;
}

form {
	margin:0px;
}

td.toplogo {	
	width:242px;
	height:113px;
    background-repeat:no-repeat;
    background-position:bottom;
}

input.logined {
	background-color : #F0F0F0;
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 1px;
	width : 64px;
	border-color : gray;
}

input.loginbtn {
	font-family : arial;
	font-size : 10px;
	border-width : 0px;
	background-color : silver;
}


td.bartl {	
	width:32px;
	height:29px;
}

td.bartm {
	background-color:#A7C8A6;
	height:29px;
	border-bottom: 2px solid #6A7E69;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
}

td.bartr {	
	width:32px;
	height:29px;
}

td.barbl {	
	width:32px;
	height:29px;
}

td.barbm {
	background-color:#A7C8A6;
	height:29px;
	border-top: 2px solid #6A7E69;
	text-align:center;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
}

td.barbr {	
	width:32px;
	height:29px;
}

td.menuleft {
	border: 2px solid;
	border-color:#6A7E69;
	background-color:#A7C8A6;
	text-align:right;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
}

.menutitle {
	padding:1px;
	text-align:center;
	width:100%;
	font-size:9px;
	background-color:#97B896
}

.contentcell {
	background-color: #f8f8f8;
	border: 2px solid #d8d8d8;
	padding:8px;
	height:450px;
}

.hiddencell {
	padding:0px;
	height:450px;
}

.errorcell {
	background-color: #FFF5F5;
	border: 2px solid #E8d0d0;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	color : #990000;
}

.noticecell {
	background-color: #FFFFF5;
	border: 2px solid #E8E8d0;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	color : #BBBB00;
}

a.menulink, a.menulinksel {
	padding: 2px;
}

a.menulink:link    { color: #334433; text-decoration: none; }
a.menulink:visited { color: #334433; text-decoration: none; }
a.menulink:hover   { color: #ee4444; text-decoration: none; }
a.menulink:active  { color: #ee4444; text-decoration: underline; }

a.menulinksel:link    { color: #ee4444; text-decoration: none; }
a.menulinksel:visited { color: #ee4444; text-decoration: none; }
a.menulinksel:hover   { color: #ee4444; text-decoration: none; }
a.menulinksel:active  { color: #ee4444; text-decoration: underline; }
