{#SUB header}
<h3>
  <a href="seats.php?frame=blockgraph"{#WHEN "$frame=='blockgraph' or empty($frame)" " class=\"important\""}>Grafisch</a> &middot;
  <a href="seats.php?frame=blocklist"{#WHEN "$frame=='blocklist'" " class=\"important\""}>Liste</a>
  {#IF $showadmin}&middot;
  <a href="seatsedit.php?frame=editblocks"{#WHEN "$frame=='editblocks'" " class=\"important\""}>Bearbeiten</a>
  {#END}
</h3>
{#END}