{#SUB default}
{#TPL $text}
<br />
{#IF empty($data)}<h4>Keine Eintr&auml;ge gefunden</h4>{#ELSE}
  {#TABLE $data}
    {#COL Kategorie $kategorie}
    {#COL Name $nick}
    {#COL Abfahrtsort $start}
    {#COL Startzeit $date}
    {#COL Details}<a href="{$link}" target="_blank">Details</a>
  {#END}
{#END}
<br />
<a href="http://www.lanparty.de/events/?action=mfzsetup&amp;id={$partyid}" target="_blank">Eintrag bearbeiten / Hinzuf&uuml;gen</a><br />
{#END}