{#SUB text}
{$text}
{#END}

{#SUB translate}
{#FORM translation}
{#BACKLINK zur&uuml;ck}<br/>
<h3>{§Original}:</h3>
{#INPUT gtext text $gtext enabled=0}{#INPUT orig hidden $gtext}<br/>
<h3>{§&Uuml;bersetzung}:</h3>
{§nach}: {#INPUT locale dropdown $locale $locales}<br/>
{#INPUT text text}<br/>
{#INPUT hash hidden $hash}
{#SUBMIT}
{#END}
{#END}
