body {
	  margin-top:0px;
	  margin-bottom:4px;
	  margin-left:4px;
	  margin-right:4px;
}

td.toplogo {
	background-image:url(images/logo_flip.png);
	width:242px;
	height:113px;
}

td.bartl {
	background-image:url(images/diag_topleft.png);
	width:32px;
	height:29px;
}

td.bartm {
	background-color:#A7C8A6;
	height:29px;
	border-bottom: 2px solid #6A7E69;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

td.bartr {
	background-image:url(images/diag_topright.png);
	width:32px;
	height:29px;
}

td.barbl {
	background-image:url(images/diag_bottomleft.png);
	width:32px;
	height:29px;
}

td.barbm {
	background-color:#A7C8A6;
	height:29px;
	border-top: 2px solid #6A7E69;
	text-align:center;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
}

td.barbr {
	background-image:url(images/diag_bottomright.png);
	width:32px;
	height:29px;
}

td.menuleft {
	border: 2px solid;
	border-color:#6A7E69;
	background-color:#A7C8A6;
	text-align:right;
}

div.contentcell {
	background-color: #f8f8f8;
	border: 2px solid #d8d8d8;
	width: 100%;
	padding-top:8px;
	padding-bottom:8px;
	height:400px;
}