/*
 css-definitions used only by inc.form.tpl
*/

textarea {
	scrollbar-3dlight-color :  #000000;
	scrollbar-arrow-color : #C0C0C0;
	scrollbar-base-color :  #808080; 
	scrollbar-darkshadow-color : #000000;
	scrollbar-face-color : #666666;
	scrollbar-highlight-color :  #000000;
	scrollbar-shadow-color : #000000;
	scrollbar-track-color : #000000;
}

.edit {
	border-style : solid;
	border-width : 1px;
	border-color : #808080;
	padding-left : 3px;
	padding-right : 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #FFFFFF;
	color: black;
}

.button {
	border-style : solid;
	border-width : 1px;
	border-color : #808080;
	background-color : #C0C0C0;
}
