/*
 css-definitions used only by inc.page.tpl
*/

body {
	color: #FFEEEE;
	background-color: #000000;
	margin: 0px;
}

td.menuitem {
 	font-size: 11px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: right;
}

td.menu, a.menulink, tr.menu, a.menulinksel {
	font-size : 11px;
}

.footer {
	color:#CCCCCC;
	font-size : 11px;
}

a.menulink:link    { color: #CCCCCC; text-decoration: none; }
a.menulink:visited { color: #CCCCCC; text-decoration: none; }
a.menulink:hover   { color: #33CCCC; text-decoration: none; }
a.menulink:active  { color: #33CCCC; text-decoration: underline; }

a.menulinksel:link    { color: #33CCCC; text-decoration: none; }
a.menulinksel:visited { color: #33CCCC; text-decoration: none; }
a.menulinksel:hover   { color: #33CCCC; text-decoration: none; }
a.menulinksel:active  { color: #33CCCC; text-decoration: underline; }


input.logined {
	color: #C0C0C0;
	background-color : #808080;
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 1px;
	width : 64px;
	border-color : #808080;
}

input.loginbtn {
	font-family : arial;
	font-size : 10px;
	border-style : solid;
	border-width : 0px;
	background-color : #C0C0C0;
}

.contentcell, .errorcell, .noticecell {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 32px;
	padding-right: 32px;
	width: 90%;
}


.contentcell {
	background-color: #080808;
	border: 1px solid #383838;
}

.errorcell {
	background-color: #662222;
	border: 1px solid #FF0000;
	color : #FFCCCC;
}

.noticecell {
	background-color: #505050;
	border: 1px solid #E8E8d0;
	color : #BBBB00;
}

.hiddencell {
	  width: 100%;
}
